body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0; /* Серый фон */
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #303030; /* Темно-серый для навигации */
    color: #fff;
    padding: 10px;
    text-align: center;
}

.navbar button {
    background-color: #505050; /* Темно-серый для кнопок */
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #707070; /* Светлее при наведении */
}

.page {
    padding: 20px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto; /* Установка центрального расположения для контента */
    background-color: #fff; /* Белый фон для секций */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content img {
    float: right;
    max-width: 150px;
    margin: 0 0 10px 20px;
    border-radius: 8px;
}

ul {
    list-style-type: none; /* Убираем стандартные маркеры */
    padding: 0;
}

li {
    margin-bottom: 20px; /* Отступ между проектами */
}